APP_TIMEZONE='America/Mexico_City'

PORT=4000
NODE_ENV=development

API_URL=localhost:4000

APP_URL=ivanmelo.com

DB_DIALECT=sqlite
DB_STORAGE=./database.sqlite

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3307
DB_DATABASE=ejemplomysql
DB_USERNAME=root
DB_PASSWORD=ejemplo123

# Mail Configuration (Mailhog for Dev)
MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_ENCRYPTION=null
MAIL_USERNAME=null
MAIL_PASSWORD=null

# -------------------------------------------------------------------------
# DOCKER SETUP
# -------------------------------------------------------------------------
# When running with docker-compose, DB_HOST should be 'db'
# DB_HOST=db
# Allow all IPs in Docker/Dev environment
WHITELISTED_IPS=*
# CORS Configuration (comma separated)
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:4000,https://ivanmelo.com

# System Management Credentials
SYSTEM_USER=admin
SYSTEM_PASSWORD=admin
SYSTEM_MASTER_TOKEN=secure_token_here123
